<!DOCTYPE html>
   <head>
      <title>EtchASketch</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
		<h2>AWelcome to Etch-A-Sketch!</h2>
		<br>
		<h3> Commands </h3>
			Etch-a-Sketch Ctrl
			<a href="/direction/left" class="button">Left</a>  
			<a href="/direction/right"class="button">Right</a>
			<a href="/direction/up" class="button">Up</a>  
			<a href="/direction/down"class="button">Down</a>
			<a href="/direction/clear"class="button">Clear</a>
   </body>
</html>

